numpy==1.26.4
scipy==1.12.0
protobuf==4.25.3
pynput==1.7.7
mediapipe==0.10.11
opencv-python==4.10.0.84
Pillow==10.4.0
pyanime4k==3.1.0
pyvirtualcam==0.11.1
pyopengl==3.1.7
wxpython==4.2.2
onnx==1.16.1
onnxruntime==1.18.1
requests==2.32.3
tqdm==4.66.4
torch==2.5.1
OneEuroFilter==0.2.1
sounddevice==0.4.7
brotli==1.1.0
